* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  font-family: Poppins, sans-serif; }
  body header nav {
    background-color: #fff;
    height: 80px;
    width: 100%; }
    body header nav label.logo {
      color: #000;
      font-size: 30px;
      line-height: 80px;
      padding: 0 50px;
      font-weight: bold; }
    body header nav .color {
      color: #1b9bff;
      font-size: 40px;
      margin-right: 10px; }
    body header nav .active, body header nav .anc:hover {
      background: #1b9bff;
      color: white;
      transition: .5s; }
    body header nav .checkbtn {
      font-size: 30px;
      float: right;
      line-height: 80px;
      margin-right: 40px;
      display: none; }
    body header nav #check {
      display: none; }
    body header nav ul {
      float: right;
      margin-right: 20px; }
      body header nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px; }
        body header nav ul li a {
          color: #000;
          font-size: 17px;
          padding: 7px 13px;
          border-radius: 3px;
          text-transform: uppercase; }
  body main .section {
    background: url(../img/back.png) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px); }
    body main .section .sub {
      width: 35%;
      color: white;
      margin-left: 6rem;
      transform: translateY(8rem); }
      body main .section .sub h1 {
        width: 80%;
        font-size: 3rem;
        font-weight: bold;
        transform: translateY(-2rem); }
      body main .section .sub .sub1 {
        width: 80%;
        font-size: 1.2rem; }
      body main .section .sub .btn {
        cursor: pointer;
        color: #1b9bff;
        text-decoration: none;
        width: 15rem;
        height: 4rem;
        border: none;
        transform: translateY(-0.9rem);
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 50px;
        box-shadow: 0px 5px 20px black;
        transition: .5s; }
      body main .section .sub .btn:hover {
        background-color: rgba(190, 171, 171, 0.774);
        color: #fff;
        border: solid 2px #fff;
        font-size: 1.4rem;
        transition: .5s; }
      body main .section .sub .fle {
        transform: translateX(0.5rem);
        box-shadow: 2px 0px 20px black;
        border-radius: 50px;
        color: #fff;
        margin-top: 50px;
        font-size: 60px; }
  @media (max-width: 1024px) {
    body header nav .active {
      background: white;
      color: #000;
      padding: 5px;
      border-radius: 10%; }
    body header nav #check:checked ~ ul {
      left: 0; }
    body header nav .anc:hover {
      background: none;
      color: none; }
    body header nav label.logo {
      color: #000;
      font-size: 35px;
      line-height: 80px;
      padding: 0 20px;
      font-weight: bold; }
    body header nav .color {
      color: #1b9bff;
      font-size: 35px;
      margin-right: 10px; }
    body header nav .checkbtn {
      font-size: 30px;
      float: right;
      line-height: 80px;
      margin-right: 40px;
      display: block; }
    body header nav #check {
      display: none; }
    body header nav ul {
      z-index: 1;
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2051d8;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s; }
      body header nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px; }
        body header nav ul li a {
          font-size: 20px;
          font-weight: bold;
          color: #fff; }
    body main .section {
      background: url(../img/back.png) no-repeat;
      background-size: cover;
      height: calc(100vh - 80px); }
      body main .section .sub {
        width: 285px;
        color: white;
        margin-left: 3rem;
        transform: translateY(6rem); }
        body main .section .sub h1 {
          font-size: 2rem;
          font-weight: bold;
          transform: translateY(-2rem); }
        body main .section .sub .sub1 {
          font-size: 1rem; }
        body main .section .sub .btn {
          color: #1b9bff;
          text-decoration: none;
          width: 11rem;
          height: 3rem;
          border: none;
          transform: translateY(-0.6rem);
          font-size: 0.9rem;
          font-weight: bold;
          box-shadow: 2px 0px 20px black;
          border-radius: 50px; }
        body main .section .sub .btn:hover {
          background-color: white;
          color: #1b9bff;
          border: solid 2px #1b9bff;
          font-size: 0.9rem;
          transition: .5s; }
        body main .section .sub .fle {
          transform: translateX(0.5rem);
          box-shadow: 2px 0px 20px black;
          border-radius: 50px;
          color: #fff;
          margin-top: 45px;
          font-size: 45px; } }
