main{
    .section{
        background: url(../../img/back.png) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: calc(80vh - 80px);

        .sub{
            width: 285px;
            color: white;
            margin-left: 3rem;
            transform: translateY(6rem);

            h1{
                font-size: 2rem;
                font-weight: bold;
                transform: translateY(-2rem);
            } 

            .sub1{
                font-size: 1rem;
            }

            .btn{
                color: #0a6bb6;
                text-decoration: none;
                width: 11rem;
                height: 3rem;
                border: none;
                transform: translateY(3rem);
                font-size: 0.9rem;
                font-weight: bold;
                box-shadow: 2px 0px 20px rgb(0, 0, 0);
                border-radius: 50px;
            }
            
            .btn:hover{
                background-color: rgb(255, 255, 255);
                color: #0a6bb6;
                border: solid 2px #0a6bb6;
                font-size: 0.9rem;
                transition:  .5s;
            }
        }
    } 
    .sub2{
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
          font-size: 1.5rem;
          color: #0a6bb6;
        }
      }  
}